nav{
    background-color: #2C3E50;
}

.nav-link{
    color: white;
    font-size: 0.8rem;
}

.colored{
    background-color: green;
    border: 1px solid black;
    height: 50px;
}

.acqua{
    background-color: #1ABC9C;
    padding-bottom: 1rem;
}

img{
    width: 50%;
}

.white{
    padding-top: 1rem;
    padding-bottom: 1rem;
}

hr{
    background-color: black;
    height: 5px;
    opacity: 1;
}

.contents{
    height: 200px;
    border-radius: 10px;
}

.rosso{
    background-color: red;
}

.celeste{
    background-color: aquamarine;
}

.nero{
    background-color: black;
}

.azzurro{
    background-color: aqua;
}

.blu{
    background-color: blue;
}

.seppia{
    background-color: antiquewhite;
}

.center{
    justify-content: center;
}

.btn{
    height: 80px;
    width: 160px;
    background-color: white;
}

.square{
    height: 100px;
    width: 100%;
    background-color: gold;
}

.footer-top{
    background-color: #3A546D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text{
    background-color: salmon;
    height: 40px;
}

.text-1{
    background-color: rgb(150, 114, 250);
    height: 40px;
}

.text-2{
    background-color: rgb(191, 236, 30);
    height: 40px;
}

.footer-bottom{
    background-color: #2C3E50;
}


