nav{
    background-color: #2C3E50;
}

.nav-link{
    color: white;
    font-size: 0.8rem;
}

.acqua{
    background-color: #1ABC9C;
    padding-top: 56px;
    padding-bottom: 56px;
}

.acqua .container .text-center img{
    width: 200px;
}

.starred{
    max-width: 200px;
    margin: auto;
    align-items: center;
}

.line{
    height: 4px;
}

.white{
    padding-top: 56px;
    padding-bottom: 56px;
}

.send{
    background-color: #1ABC9C;
}

.footer-top{
    background-color: #3A546D;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.text{
    background-color: salmon;
    height: 40px;
}

.text-1{
    background-color: rgb(150, 114, 250);
    height: 40px;
}

.text-2{
    background-color: rgb(191, 236, 30);
    height: 40px;
}

.footer-bottom{
    background-color: #2C3E50;
}


