nav{
    background-color: #2C3E50;
}

.nav-link{
    color: white;
    font-size: 0.8rem;
}

.acqua{
    background-color: #1ABC9C;
    padding-top: 56px;
    padding-bottom: 56px;
}

.acqua .container .text-center img{
    width: 200px;
}

.starred{
    max-width: 200px;
    margin: auto;
    align-items: center;
}

.line{
    height: 4px;
}

.white{
    padding-top: 56px;
    padding-bottom: 56px;
}

.send{
    background-color: #1ABC9C;
}

.footer-top{
    background-color: #3A546D;
    padding-top: 56px;
    padding-bottom: 56px;
}

.logo{
    width: 30px;
    height: 30px;
}

.link-boot{
    color: #1ABC9C;
    text-decoration: none;
}

.footer-bottom{
    background-color: #2C3E50;
}


